h2 {
  font-family: 'Monoton', cursive;
  font-size: 2em;
}
body {
  background: #f0f3f3;
}
.card {
  transition: all 800ms;
}
.card:hover {
  transform: scale(1.1);
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
